CREATE SCHEMA IF NOT EXISTS dbo;
SET SCHEMA dbo;

DROP TABLE IF EXISTS KET_QUA_DOI;
DROP TABLE IF EXISTS KET_QUA_CA_NHAN;
DROP TABLE IF EXISTS SO_DO_DOI;
DROP TABLE IF EXISTS SO_DO_CA_NHAN;
DROP TABLE IF EXISTS CHI_TIET_VAN;
DROP TABLE IF EXISTS CHI_TIET_GIAI_DAU;
DROP TABLE IF EXISTS BOC_THAM_DOI;
DROP TABLE IF EXISTS BOC_THAM_CA_NHAN;
DROP TABLE IF EXISTS CHI_TIET_DOI;
DROP TABLE IF EXISTS DANG_KI_DOI;
DROP TABLE IF EXISTS DANG_KI_CA_NHAN;
DROP TABLE IF EXISTS CHI_TIET_TRAN_DAU;
DROP TABLE IF EXISTS VAN_DONG_VIEN;
DROP TABLE IF EXISTS GIAI_DAU;
DROP TABLE IF EXISTS NOI_DUNG;
DROP TABLE IF EXISTS CAU_LAC_BO;
DROP TABLE IF EXISTS NGUOI_DUNG;

CREATE TABLE NGUOI_DUNG(
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HO_TEN VARCHAR(1000) NOT NULL,
    MAT_KHAU VARCHAR(1000) NOT NULL,
    THOI_GIAN_TAO DATETIME NOT NULL
);

CREATE TABLE CAU_LAC_BO(
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TEN_CLB VARCHAR(1000) NOT NULL,
    TEN_NGAN VARCHAR(10) NOT NULL
);

CREATE TABLE NOI_DUNG(
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TEN_NOI_DUNG VARCHAR(1000) NOT NULL,
    TUOI_DUOI INT NOT NULL,
    TUOI_TREN INT NOT NULL,
    GIOI_TINH CHAR(1) NULL,
    TEAM BIT NOT NULL
);

CREATE TABLE GIAI_DAU(
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TEN_GIAI VARCHAR(1000) NOT NULL,
    NGAY_BD DATE NOT NULL,
    NGAY_KT DATE NOT NULL,
    NGAY_TAO DATETIME NOT NULL,
    NGAY_CAP_NHAT DATETIME NOT NULL,
    ID_USER INT NOT NULL
);

CREATE TABLE VAN_DONG_VIEN(
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HO_TEN VARCHAR(1000) NOT NULL,
    NGAY_SINH DATE NOT NULL,
    ID_CLB INT NOT NULL,
    GIOI_TINH CHAR(1) NOT NULL
);

CREATE TABLE CHI_TIET_TRAN_DAU(
    ID CHAR(36) PRIMARY KEY,
    THE_THUC TINYINT NULL,
    ID_VDV_THANG INT NULL,
    BAT_DAU DATETIME NULL,
    KET_THUC DATETIME NULL,
    SAN INT NULL
);

CREATE TABLE DANG_KI_CA_NHAN(
    ID_GIAI INT NOT NULL,
    ID_NOI_DUNG INT NOT NULL,
    ID_VDV INT NOT NULL,
    THOI_GIAN_TAO DATETIME NOT NULL,
    KIEM_TRA BIT NULL
);

CREATE TABLE DANG_KI_DOI(
    ID_GIAI INT NOT NULL,
    ID_NOI_DUNG INT NOT NULL,
    ID_CLB INT NOT NULL,
    TEN_TEAM VARCHAR(1000) NOT NULL,
    ID_TEAM INT IDENTITY(1,1) PRIMARY KEY
);

CREATE TABLE CHI_TIET_DOI(
    ID_TEAM INT NOT NULL,
    ID_VDV INT NOT NULL
);

CREATE TABLE BOC_THAM_CA_NHAN(
    ID_GIAI INT NOT NULL,
    ID_NOI_DUNG INT NOT NULL,
    ID_VDV INT NOT NULL,
    THU_TU INT NOT NULL,
    SO_DO INT NOT NULL
);

CREATE TABLE BOC_THAM_DOI(
    ID_GIAI INT NOT NULL,
    ID_NOI_DUNG INT NOT NULL,
    ID_CLB INT NOT NULL,
    TEN_TEAM VARCHAR(1000) NOT NULL,
    THU_TU INT NOT NULL,
    SO_DO INT NOT NULL
);

CREATE TABLE CHI_TIET_GIAI_DAU(
    ID_GIAI INT NOT NULL,
    ID_NOI_DUNG INT NOT NULL,
    TUOI_DUOI INT NOT NULL,
    TUOI_TREN INT NOT NULL
);

CREATE TABLE CHI_TIET_VAN(
    ID_TRAN_DAU CHAR(36) NOT NULL,
    SET_NO TINYINT NOT NULL,
    TONG_DIEM_1 TINYINT NOT NULL,
    TONG_DIEM_2 TINYINT NOT NULL,
    DAU_THOI_GIAN VARCHAR(1000) NOT NULL
);

CREATE TABLE SO_DO_CA_NHAN(
    ID_GIAI INT NOT NULL,
    ID_NOI_DUNG INT NOT NULL,
    ID_VDV INT NOT NULL,
    TOA_DO_X INT NOT NULL,
    TOA_DO_Y INT NOT NULL,
    VI_TRI INT NOT NULL,
    SO_DO INT NOT NULL,
    THOI_GIAN DATETIME NOT NULL,
    DIEM INT NULL,
    ID_TRAN_DAU CHAR(36) NULL
);

CREATE TABLE SO_DO_DOI(
    ID_GIAI INT NOT NULL,
    ID_NOI_DUNG INT NOT NULL,
    ID_CLB INT NOT NULL,
    TEN_TEAM VARCHAR(1000) NOT NULL,
    TOA_DO_X INT NOT NULL,
    TOA_DO_Y INT NOT NULL,
    VI_TRI INT NOT NULL,
    SO_DO INT NOT NULL,
    THOI_GIAN DATETIME NOT NULL,
    DIEM INT NULL,
    ID_TRAN_DAU CHAR(36) NULL
);

CREATE TABLE KET_QUA_CA_NHAN(
    ID_GIAI INT NOT NULL,
    ID_NOI_DUNG INT NOT NULL,
    ID_VDV INT NOT NULL,
    THU_HANG INT NOT NULL
);

CREATE TABLE KET_QUA_DOI(
    ID_GIAI INT NOT NULL,
    ID_NOI_DUNG INT NOT NULL,
    ID_CLB INT NOT NULL,
    TEN_TEAM VARCHAR(1000) NOT NULL,
    THU_HANG INT NOT NULL
);